.mat-body, .mat-body-1, .mat-typography {
    font-family: $tstappvar-typography-normal-font-family;
    font-size: $tstappvar-typography-normal-font-size;
    line-height: $tstappvar-typography-line-height--base;
}