<footer class="tstapp-footer" >
    <div role="presentation" class="tstapp-core-layout tstapp-footer-container">
        <div role="presentation" fxLayout.gt-xs="row" fxLayout="row wrap">
            <div role="presentation" fxFlex="300px" fxFlex.sm="250px" fxFlex.xs="50" class="tstappm-mobile-order--1">
                <ul class="tstapp-footer-nav">
                    <li><span role="note" class="tstapp-footer-nav__title">Test Task</span></li>
                    <li>&mdash;</li>
                    <li><a routerLink="/ui/icons" alt="UI icons page">UI</a></li>
                </ul>
            </div>
            <div role="presentation" fxFlex="300px" fxFlex.sm="250px" fxFlex.xs="50" class="tstappm-mobile-order--2">
                <ul class="tstapp-footer-nav">
                    <li><span role="note" class="tstapp-footer-nav__title">About</span></li>
                    <li>&mdash;</li>
                    <li><a routerLink="/s/about" alt="About Angular app" class="tstapp-footer-nav__item">About Angular App</a></li>
                    <li><a routerLink="/s/task" alt="About Angular app" class="tstapp-footer-nav__item">Test Task</a></li>
                </ul>
            </div>
            <div class="tstapp-footer-nav__social-media tstappm-mobile-order--4" fxFlex fxFlex.xs="50"
                fxLayout fxLayout.sm="column" fxLayoutAlign="start start" fxLayoutAlign.gt-xs="end start" fxLayoutAlign.sm="start end">
            </div>
        </div>
    </div>
</footer>
